body {
    background-color: #202035;  /* 262626, 1E281E */
    margin: 0;
    padding: 0;
    border: 0;
    font-family : "Open Sans";
    font-size: 14px;
    color: #7070AA; /* 10CCAA */
    width: 100%
}



/* Navigation bar */
nav {
    width: 70%;
    font-size: 15px;
    margin: 5px 10px;
    padding-left: 15%;
}
.nav-entry:hover {
   color: #ffffff;
}

#notification-area {
    position: absolute;
    text-align: center;
    display: block;
    margin-left: 30%;
    font-size: 15px;
    color: #50afde;
    transition: background 0.5s ease-out; /* explorer 10 */
    -webkit-transition: background 0.5s ease-out; /* chrome & safari */
    -moz-transition: background 0.5 ease-out; /* firefox */
    -o-transition: background 0.5 ease-out; /* opera */
}
nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #303050;
}

nav ul li {
    list-style: none;
    float:left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #7070AA; /* #10CCAA*/
    padding: 7px 17px 7px 17px;

    transition: background 0.3s ease-out; /* explorer 10 */
    -webkit-transition: background 0.3s ease-out; /* chrome & safari */
    -moz-transition: background 0.3 ease-out; /* firefox */
    -o-transition: background 0.3 ease-out; /* opera */
}

nav ul li:hover, nav ul li:hover > ul {
    cursor: pointer;
    visibility: visible;
    color: #FFFFFF;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
}

nav ul li ul li a:hover{
    cursor: pointer;
    color: #FFFFFF;
}
nav ul li ul li a:active{
    cursor: pointer;
    color: #303050;
    background: #7070AA;
}


/* output window */
.output-div {
    padding-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: center;
}

#output-table {
    vertical-align : center;
    -webkit-font-smoothin: antialiased;
    whitespace: nowrap;
}


/* buttons */
.movie-remove-button {
    position: relative;
    text-align: center;
    font-size: 65%;
    background: #202035;
    color: #7070AA;
    -webkit-font-smoothin: antialiased;
    whitespace: nowrap;
    cursor: pointer;
    margin-left: 10px;
}

#movie-add-button {
    position: relative;
    text-align: center;
    font-size: 75%;
    background: #202035;
    color: #7070AA;
    -webkit-font-smoothin: antialiased;
    padding: 2px 5px;
    whitespace: nowrap;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid #7070aa;
    border-radius: 2px;
}
#movie-add-button:hover {
    border-color: #50afde;
    color: #50afde;
}
.movie-remove-button:hover{
    color: #50afde;
    border-bottom: 2px solid #50afde;
}

/* input fields*/
input {
    background: #353560;
    color: #9090EE;
    border: 0;
    font-size: 100%;
    border-radius: 3px;
    border: 1px solid #7070AA;
    text-align: center;
    width: 100%;
}

input:focus {
    background: #404075;
}

/* output-row*/
.movie-row {
    margin: 15px 5px;
    padding: 15px 5px;
    text-align: center;
}
